[color]
  ui = true
[core]
  autocrlf = false
  editor = nvim
  eol = lf
  excludesfile = ~/.gitignore
  filemode = false
[github]
  user = gajewsky
[user]
	name = Marcin Gajewski
	email = gajewski@pm.me
[pull]
  ff = only
[link]
  path= $HOME/.gitconfig-fragile
[pager]
	diff = delta
  show = delta
  log = delta
  blame = delta
  reflog = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = tree
  syntax-theme = gruvbox-dark
[include]
	path = /Users/gajewsky/.config/dev/gitconfig
