[color]
  ui = true
[core]
  autocrlf = false
  editor = nvim
  eol = lf
  excludesfile = ~/.gitignore
  filemode = false
  pager = delta --plus-color="#012800" --minus-color="#340001" --theme='base16'
	commitGraph = true
[github]
  user = gajewsky
[user]
  name = Marcin Gajewski
[interactive]
  diffFilter = delta --color-only
[pull]
  ff = only
[link]
  path= $HOME/.gitconfig-fragile
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[credential]
	helper =
	helper = store --file /opt/dev/var/private/git_credential_store
