[submodule ".dotbot/dotbot"]
	path = .dotbot/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".dotbot/vim-plug"]
	path = .dotbot/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".dotbot/tpm"]
	path = .dotbot/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".dotbot/dotbot-yay"]
	path = .dotbot/dotbot-yay
	url = https://github.com/oxson/dotbot-yay
