[color]
  ui = true
[core]
  autocrlf = false
  editor = nvim
  eol = lf
  excludesfile = ~/.gitignore
  filemode = false
[github]
  user = gajewsky
[user]
	name = Marcin Gajewski
{{- if eq .chezmoi.os "darwin" }}
	email = marcin.gajewski@shopify.com
{{- else }}
	email = gajewski@pm.me
{{- end }}
[pull]
  ff = only
[link]
  path= $HOME/.gitconfig-fragile
[include]
  path = /Users/gajewsky/.config/dev/gitconfig
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[rerere]
	enabled = true
[maintenance]
	repo = /Users/gajewsky/world/trees/root/src
[fetch]
	prune = true
