[color]
  ui = true
[core]
  autocrlf = false
  editor = nvim
  eol = lf
  excludesfile = ~/.gitignore
  filemode = false
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
  line-numbers = true
  syntax-theme = gruvbox-dark
  hyperlinks = true
  file-style = bold yellow ul
[github]
  user = gajewsky
[user]
	name = {{ .name }}
{{- if eq .chezmoi.os "darwin" }}
	email = {{ .email_work }}
{{- else }}
	email = {{ .email_personal }}
{{- end }}
[pull]
  ff = only
[include]
  path = {{ printf "%s/.config/dev/gitconfig" .chezmoi.homeDir | quote }}
[merge]
  conflictstyle = zdiff3
[diff]
  colorMoved = default
  algorithm = histogram
[commit]
  verbose = true
[log]
  date = iso
[status]
  showUntrackedFiles = all
[transfer]
  fsckObjects = true
[rerere]
	enabled = true
{{- if eq .chezmoi.os "darwin" }}
[maintenance]
	repo = {{ printf "%s/world/trees/root/src" .chezmoi.homeDir | quote }}
{{- end }}
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autoSquash = true
	autoStash = true
[branch]
	sort = -committerdate
[alias]
	# Unique aliases not in Fish plugin-git
	undo = reset HEAD~1 --mixed
	recent = branch --sort=-committerdate --format='%(committerdate:relative)\t%(refname:short)'
	cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master' | xargs -n 1 git branch -d"
	absorb = !git-absorb
	# Quick workflow
	wip = commit -am "WIP"
	unwip = reset HEAD~1
	amend = commit --amend --no-edit
	fixup = commit --fixup
	stash-all = stash --include-untracked
	# Visualization
	graph = log --oneline --graph --decorate -20
